@charset "UTF-8";

header{
    background: linear-gradient(to bottom,#000,#2d2d2d);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
header nav ul{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    list-style: none;
}
header a{
    text-decoration: none;
    color: white;
    justify-content: space-around;
}
header nav{
    display: flex;
    justify-content: space-around;
}
header h1{
    color: rgb(255, 30, 0);
}input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
input[type=text]:focus {
    width: 100%;
}
