@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap');


*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

    /*LOGIN CADASTRO*/

.enter{
    background-image: radial-gradient(rgb(136, 214, 206) ,rgb(255, 255, 255));
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.content{
    height: 70vh;
    border: 1px solid rgb(100, 158, 152);
    width: 50vw;
    background-color: white;
    z-index: 1;
    position: relative;
    display: flex;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}
.banner{
    width: 30%;
    background-image: url(midia/canva.png);
    background-size: cover;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    width: 60%;
}
.form{
    font-size: 18px;
    width: 100%;
}
.form input{
    width: 100%;
    margin-left: 12px;
    border-radius: 7px;
    height: 23px;
    font-size: 15px;
    border-color: #0a3d80;
    text-align: center;
}
.card button{
    border-radius: 5px;
    width: 40%;
    height: 10%;
    background-color: rgb(255, 123, 0);
    border-color: rgb(255, 255, 255);
    transition: 0.2s;
    font-size: 100%;
    color: white;
}
.card button:hover{
    background-color: rgb(253, 153, 59);
    color: black;
} 
.card a:hover{
    color:rgb(255, 123, 0);
}
.card a{
    text-decoration: none;
    color: #000;
    transition: 0.2s;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

    /*BTN MENU*/

.menu{
    position: fixed;
    color: rgb(255, 123, 0);
    left: 0;
    top: 0;
    width: 30px;
    font-size: 30px;
    margin: 10px;
    z-index: 8;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.menu:hover{
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.432);
}

    /* SIDENAV */

 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 18px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav img{
    width: 200px;
}
.sidenav a:hover {
    color: #ff942f;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
    /*MAIN*/
main .destaques{
    background-image: linear-gradient(to bottom, rgb(140, 0, 255) 50%, rgba(140, 0, 255, 0) );
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    z-index: 0;

}
main .destaques img{
    height: 90px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.664);
    transition: height 0.1s;
}
.destaques img:hover{
    height: 110px;
}
    /*Painel*/

.painel img{
    padding-top: 4%;
    width: 100%;
}

    /*Conteudo*/
article {
    margin-top: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    }
article div{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    
}
.texto{
    flex-direction: column;
    display: flex;
}

.details {
    position: relative;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 420px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.76);
    
    border-radius: 8px;
  }
  
.details:hover .overlay {
    opacity: 1;
  }
  
.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 8%;
    width: 70%;
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
.details img{
    width: 400px;
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.705);
}
 


